body{
    font-family: lato,helvetica neue,Helvetica,Arial,sans-serif;
    font-size: 15px;
    line-height: 1.428571429;
    color: #666357;
    background-image: url('./images/background.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
}